# Ignore everything by default.
**

# Keep core repo files.
!/.gitignore
!/.github/
!/.github/**

# Keep repo definition YAMLs (public only; private YAMLs live in S3).
!/terraform/
!/terraform/public/
!/terraform/public/**
!/terraform/private/
!/terraform/private/.gitkeep
